/*

COLORS =========
#36B9ED - blue
#FADC13 - yellow
#770F3D - purple
#ED1E79 - pink
white

*/

body {
    background-color: #FADC13;
    font-family: 'Montserrat', sans-serif;
    color: #770F3D;

}

h1 {
    font-family: 'Anton', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 70px;
}

.jumbotron {
    background-color: white;
}

.panel {
    border-radius: 5px;
    margin-bottom: 30px;
}

.panel-heading {
    background-color: #36B9ED;
    padding: 10px 10px 5px 10px;
    color: white;
    border-radius: 5px 5px 0px 0px;

}

.panel-game-title {
    background-color: #ED1E79;
    padding: 40px;

}

.panel-sum {
    background-color: #ED1E79;
}

.panel-crystal-options {
    background-color: #ED1E79;
}

.panel-body {
    background-color: white;
    border-radius: 0 0 5px 5px;
    padding: 20px;
}

.panel-crystals {
    background-color: #FADC13;
    border-radius: 0 0 5px 5px;
    padding: 20px;
}

.panel-counter {
    background-color: white;
}

.panel {
    -left: 0px;
    margin-right: 0px;
    margin-top: 40px;
}

.row-game {
    background-color: #FADC13;
}

footer {
    margin-top: 100px;
}

footer .h6 {
    font-size: x-small;
}

@media (max-width: 1000px) {
    .gem-header {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}